.main-footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 32px;
}

.closing-banner {
  height: 320px;
  width: 100%;
  background-image: url("../img/bg-bottom-banner-mobile.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
}

.pacotes-closing-banner {
  height: 320px;
  width: 100%;
  background-image: url("../img/travel-packages/japan-bg-bottom-banner-mobile.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
}

.banner-img {
  height: 320px;
  width: 100%;
  background-image: url("../img/contato-packages/contato-bg-banner-mobile.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
}

.main-footer {
  background-color: var(--background-tertiary-color);
  padding: 2rem;
}

.footer-left,
.footer-right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-right {
  align-items: center;
}

.footer-logo {
  display: flex;
  justify-content: center;
}

.footer-logo img {
  width: 140px;
}

.footer-left p,
.footer-right p {
  font-size: 0.95rem;
  color: #ccc;
}

.social-links {
  display: flex;
  gap: 1rem;
}

.social-links a {
  font-size: 1.4rem;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.social-links a:hover {
  transform: translateY(-3px);
  opacity: 0.8;
}

@media (min-width: 768px) {
  .closing-banner {
    height: 480px;
    background-image: url("../img/bg-bottom-banner-tablet.png");
  }
  .pacotes-closing-banner {
    height: 620px;
    background-image: url("../img/travel-packages/japan-bg-bottom-banner-tablet.png");
    background-position: center;
  }
  .banner-img {
    height: 320px;
    background-image: url("../img/contato-packages/contato-bg-banner-tablet.jpg");
  }
  .footer-left {
    margin-bottom: auto;
  }
}

@media (min-width: 1024px) {
  .main-footer .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
  }
  .footer-logo {
    justify-content: left;
  }
  .closing-banner {
    background-image: url("../img/bg-bottom-banner-desktop.png");
  }
  .pacotes-closing-banner {
    background-image: url("../img/travel-packages/japan-bg-bottom-banner-desktop.png");
  }
  .banner-img {
    height: 500px;
    background-image: url("../img/contato-packages/contato-bg-banner-desktop.jpg");
  }
}

@media (min-width: 1440px) {
  .pacotes-closing-banner {
    height: 900px;
  }
  .banner-img {
    height: 800px;
  }
}
