.hero-img {
  height: 400px;
  width: 100%;
  background: url("../img/hero-mobile.jpg") no-repeat center;
  background-size: cover;
}

.hero h2 {
  padding: 88px 24px;
  margin: 0px;
  font-weight: var(--text-weight);
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero-travel-packages {
  position: relative;
  z-index: 1;
}

.hero-travel-packages::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(1, 1, 14, 0.4);
  pointer-events: none;
}

.hero--blog {
  height: 500px;
  width: 100%;
  background: url("../img/blog-packages/blog-bg-hero-mobile.jpg") no-repeat
    center;
  background-size: cover;
  display: flex;
  align-items: center;
}

.hero--blog::before {
  content: "";
  position: relative;
  inset: 0;
  background: rgba(0, 0, 0, 0.43);
}

.hero-content {
  position: relative;
  color: var(--text-secondary-color);
  text-align: left;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

.hero-content h1 {
  font-size: 48px;
}

.hero-content p {
  max-width: 312px;
  font-size: 20px;
  line-height: 160%;
}

.hero-travel-packages {
  height: 500px;
  width: 100%;
  background: url("../img/travel-packages/japan-bg-hero-tablet.png") no-repeat
    center;
  background-size: cover;
  background-position: right;
  position: relative;
  display: flex;
  align-items: center;
}

/* linha azul */
.hero-content hr {
  width: 180px;
  height: 4px;
  background: var(--secondary-color);
  border: none;
  margin: 1rem 0;
}

@media screen and (min-width: 768px) {
  .hero-img {
    height: 620px;
    background: url("../img/hero-tablet.jpg") no-repeat center;
    background-size: cover;
  }

  .hero-content {
    max-width: 579px;
    min-height: 313px;
    margin-left: 38px;
    margin-right: 24px;
  }

  .hero-content h1 {
    white-space: nowrap;
  }

  .hero h2 {
    padding: 88px 60px;
    font-size: 32px;
  }
  .hero-content p {
    max-width: 480px;
    line-height: 130%;
    font-size: 32px;
  }

  .hero--blog {
    height: 620px;
    background: url("../img/blog-packages/blog-bg-hero-tablet.jpg") no-repeat
      center;
    background-size: cover;
  }
}

@media screen and (min-width: 1024px) {
  .hero-img {
    height: 620px;
    width: 100%;
    background: url("../img/hero-desktop.jpg") no-repeat center;
    background-size: cover;
  }
  .hero h2 {
    padding: 88px 120px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-content {
    padding: 0 88px;
  }
}

@media screen and (min-width: 1920px) {
  .hero-img {
    height: 620px;
    width: 100%;
    background: url("../img/hero-desktop.jpg") no-repeat center;
    background-size: cover;
  }
  .hero h2 {
    padding: 88px 160px;
  }
}
