.hero-img {
  height: 400px;
  width: 100%;
  background: url("../img/hero-mobile.jpg") no-repeat center;
  background-size: cover;
}

.hero h2 {
  padding: 88px 24px;
  margin: 0px;
  font-weight: var(--text-weight);
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.hero-travel-packages::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

.hero-content {
  position: relative;
  color: #fff;
  text-align: center;
  max-width: 600px;
}

.hero-travel-packages {
  height: 500px;
  width: 100%;

  background: url("../img/travel-packages/japan-bg-hero-tablet.png") no-repeat
    center;
  background-size: cover;

  position: relative;
  display: flex;
  align-items: center;
}

/* overlay azul escuro */
.hero-travel-packages::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 60, 90, 0.75); /* tom parecido com o print */
}

/* conteúdo */
.hero-content {
  position: relative;
  color: white;

  max-width: 500px;
  margin-left: 2rem; /* empurra da esquerda */
}

/* título */
.hero-content h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

/* linha vermelha */
.hero-content hr {
  width: 120px;
  height: 3px;
  background: var(--secondary-color);

  border: none;
  margin: 1rem 0;
}

/* texto */
.hero-content p {
  font-size: 1rem;
  line-height: 1.6;
  color: #f0f0f0;
}

@media screen and (min-width: 768px) {
  .hero-img {
    height: 620px;
    background: url("../img/hero-tablet.jpg") no-repeat center;
    background-size: cover;
  }
  .hero h2 {
    padding: 88px 60px;
    font-size: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .hero-img {
    height: 620px;
    width: 100%;
    background: url("../img/hero-desktop.jpg") no-repeat center;
    background-size: cover;
  }
  .hero h2 {
    padding: 88px 120px;
  }
}
@media screen and (min-width: 1920px) {
  .hero-img {
    height: 620px;
    width: 100%;
    background: url("../img/hero-desktop.jpg") no-repeat center;
    background-size: cover;
  }
  .hero h2 {
    padding: 88px 160px;
  }
}
