.payments .image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap 24px;
    height: 460px;
    margin-top: 24px;
}

.payments .image-gallery .img.bag {
    background: url(../img/gallery1-mobile.jpg) no-repeat;
    background-size: cover;    
}