.payments .image-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  height: 460px;
  margin-top: 24px;
  width: 100%;
}
.payments .image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.content-title-valores {
  font-size: 40px;
  font-weight: var(--title-weight);
  margin: 0 0 24px;
}

.content-title h2 {
  font-size: 28px;
  font-weight: var(--title-weight);
  margin: 0 0 24px;
}

.payments--default .image.first {
  background-image: url(../img/gallery1-mobile.jpg);
}

.payments--default .image.second {
  background-image: url(../img/gallery2-mobile.jpg);
}

.payments--default .image.third {
  background-image: url(../img/gallery3-mobile.jpg);
}

.payments--default .image.colspan-2 {
  grid-column: span 2;
}

/* PACOTES DE VIAGENS */
.payments--travel .image.first {
  background-image: url(../img/travel-packages/gallery1-mobile.png);
}

.payments--travel .image.second {
  background-image: url(../img/travel-packages/gallery2-mobile.png);
}

.payments--travel .image.third {
  background-image: url(../img/travel-packages/gallery3-mobile.png);
}

.payments--travel .image.colspan-2 {
  grid-column: span 2;
}

@media (min-width: 768px) {
  .payments--default .image.first {
    background-image: url(../img/gallery1-tablet.png);
  }

  .payments--default .image.second {
    background-image: url(../img/gallery2-tablet.png);
  }

  .payments--default .image.third {
    background-image: url(../img/gallery3-tablet.png);
  }

  .payments--default .image.colspan-2 {
    grid-column: span 2;
  }

  /* PACOTES DE VIAGENS */
  .payments--travel .image.first {
    background-image: url(../img/travel-packages/gallery1-tablet.png);
  }

  .payments--travel .image.second {
    background-image: url(../img/travel-packages/gallery2-tablet.png);
  }

  .payments--travel .image.third {
    background-image: url(../img/travel-packages/gallery3-tablet.png);
  }
}

@media (min-width: 1440px) {
  .payments .content-container {
    display: flex;
    align-items: center; /* alinha verticalmente */
    justify-content: space-between;
    gap: 40px;
  }

  .payments .text-content {
    flex: 1;
    max-width: 400px;
  }

  .payments .image-gallery {
    flex: 1;
    margin-top: 0; /* remove o espaço do mobile */
  }
}
